{% load static %}

<footer>
  <div class="socials">
    <a href="https://github.com/juarezv90" target="_blank" rel="noopener noreferrer">
        <img src="{% static '/github.svg' %}" alt="" srcset="" />
    </a>
    <a href="https://stackoverflow.com/users/3363002/juarezdev" target="_blank" rel="noopener noreferrer">
        <img src="{% static '/overflow.svg' %}" alt="" srcset="" />
    </a>
    <a href="https://x.com/juarez_vic90" target="_blank" rel="noopener noreferrer">
      <img src="{% static '/twitter.svg' %}" alt="" srcset="" />
    </a>
  </div>
  <span class="copyright">Copyright&copy;2024 Victor Visciglia-Juarez</span>
</footer>
