@import "./variables";

footer {
    position: relative;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    .socials {
        display: flex;
        gap: 1rem;
    }

    @include mdscrn {
        flex-direction: row;
    }
    @include lgscrn {
        flex-direction: row;
    }


}