@import 'variables';


#post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    margin: 0 auto;
    
    #id_title {
        width: 300px;
    }

    button.post {
        width: 200px;
        margin: 0 auto;
    }

#quill-id_blog_post {
    min-height: 400px;
    height: 100%;
    }

    @include lgscrn {
        max-width: 1440px;
    }
}