$primary:#ccd9e2;
$cta:#b6c2d0;
$secondary:#687c80;
$lighter:#d2e1e8;
$sand:#b5ac9d;





@mixin mdscrn {
    @media (min-width:744px) and (max-width:1439px) {
        @content;
    }
};

@mixin lgscrn {
    @media (min-width:1439px) {
        @content;
    }
}