{% extends "base.html" %}

{% block content %}

<section class="welcome">
    <article>
        <h3>Welcome to the Cafe</h3>
        <p>Welcome to Coffee Coded, my personal blog where I share my passion for technology over a cup of coffee. Here, you'll find a mix of my thoughts on the latest tech trends, coding tips, and personal projects. Whether you're a fellow developer or simply curious about the tech world, I hope you'll find something inspiring and engaging. So grab your coffee, settle in, and let's explore the world of tech together!</p>
    </article>
    <img src="static/binarycup.svg" alt="" width="332" height="264">
</section>

<section id="posts">
    {% for post in posts %}
    <article>
        <img src="media/{{ post.post_image }}" alt="">
        <h3>{{ post.title }}</h3>
        <p class="publish">Published: {{ post.post_date }}</p>
        {{ post.blog_post.html|safe }}
    </article>
    {% endfor %}
</section>

{% endblock content %}