{% extends "base.html" %}

{% block content %}

<section class="welcome">
    <article>
        <h3>Welcome to the Cafe</h3>
        <p>Welcome to Coffee Coded, my personal blog where I share my passion for technology over a cup of coffee. Here, you'll find a mix of my thoughts on the latest tech trends, coding tips, and personal projects. Whether you're a fellow developer or simply curious about the tech world, I hope you'll find something inspiring and engaging. So grab your coffee, settle in, and let's explore the world of tech together!</p>
    </article>
    <img src="static/binarycup.svg" alt="" width="332" height="264">
</section>

<section id="posts">
    <article>
        <img src="./static/placeholder400x400.png" alt="">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>
    <article>
        <img src="./static/placeholder400x400.png" alt="" class="postImage">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>
    <article>
        <img src="./static/placeholder400x400.png" alt="">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>
    <article>
        <img src="./static/placeholder400x400.png" alt="">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>
    <article>
        <img src="./static/placeholder400x400.png" alt="">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>
    <article>
        <img src="./static/placeholder400x400.png" alt="">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>
    <article>
        <img src="./static/placeholder400x400.png" alt="">
        <h3>Header</h3>
        <p class="publish">Published September 12, 2024</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit aperiam error. Veniam tempore
            accusamus sed? Consequatur, esse! Voluptas, fugit. Maxime esse, placeat aliquid repudiandae
            recusandae soluta eligendi atque praesentium.
            Consequatur delectus aliquid in at maiores nulla saepe, eaque ducimus natus earum quam, fuga unde
            qui eos explicabo quasi labore sapiente! Eius officiis iure a nihil eum minus dolorem explicabo.
            Rerum exercitationem impedit doloribus, quos ipsa aliquam suscipit inventore? Dolorum consectetur
            placeat quae aspernatur quasi quo odit totam quibusdam, et architecto accusamus sunt quisquam
            cupiditate veritatis. Recusandae est ipsa nam!
            Vitae ex suscipit, cumque eveniet commodi fuga temporibus fugit, quasi libero quod numquam
            perspiciatis deleniti enim facere sit fugiat blanditiis doloremque mollitia labore inventore. Quis
            nulla iusto asperiores repudiandae modi.</p>
        <div class="tags">
            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
        </div>
    </article>

</section>

{% endblock content %}