{% extends "base.html" %} {% block content %}

<style>
  main {
    padding: 3rem 0;
    overflow: scroll;
  }
</style>

<form id="post-form" method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form}}
  <button type="submit">Post</button>
</form>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const quillEditor = document.querySelector(".django-quill-widget");
    if (!quillEditor) {
      console.error("Quill editor not found");
      return;
    }

    const quill = quillEditor.__quill;

    if (!quill) {
      console.error("Quill instance not found");
      return;
    }

    quill.getModule("toolbar").addHandler("image", function () {
      selectLocalImage();
      console.log("this is a working function now");
    });

    function selectLocalImage() {
      const input = document.createElement("input");
      input.setAttribute("type", "file");
      input.setAttribute("accept", "image/*");
      input.click();

      input.onchange = function () {
        const file = input.files[0];
        if (/^image\//.test(file.type)) {
          saveToServer(file);
        } else {
          console.warn("You could only upload images.");
        }
      };
    }

    function saveToServer(file) {
      const fd = new FormData();
      fd.append("image", file);

      fetch('{% url "upload_image" %}', {
        method: "POST",
        body: fd,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.url) {
            insertToEditor(data.url);
          } else {
            console.error("Failed to upload image");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }

    function insertToEditor(url) {
      const range = quill.getSelection();
      quill.insertEmbed(range.index, "image", url);
    }

    // document.getElementById("post-form").onsubmit = function () {
    //   const delta = quill.getContents();
    //   const deltaString = JSON.stringify(delta);
    //   document.getElementById("quill-input-id_blog_post").value = deltaString;
    //   return true;
    // };
  });
</script>

{% endblock content %}
