{% extends 'base.html' %} {% block content %}
<div class="post_head">
  <h3>{{ post.title }}</h3>
  <p>{{ post.post_date }}</p>
</div>
<img src="{{ MEDIA_URL }}/{{ post.post_image }}" alt="" srcset="" />
<div>{{ post.blog_post.html|safe }}</div>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'like_post' post.id %}">
  {% csrf_token %} {% if post_is_like %}
  <button>Unlike</button>
  {% else %}
  <button>Like</button>
  {% endif %}
</form>
{% endif %}
<span>Likes: {{post.number_of_likes}}</span>

<section class="comments">
  <h3>Comments:</h3>
  {% for comment in comments %}
  <article class="comment">
    <h4 style="text-transform: uppercase">{{ comment.commentor.username }}</h4>
    <p class="comment_date">{{comment.date_posted}}</p>
    <p class="comment_text">{{ comment.comment_text}}</p>
  </article>
  {% endfor %}
</section>
<section class="add_comment">

</section>
{% endblock %}
